body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image-to-show {
  width: 400px;
  height: 400px;
  display: none;
}

.images-wrapper {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.active {
  display: block;
  border-radius: 25%;
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
}

.fas {
  justify-content: space-around;
  align-self: center;
}

.fa-pause-circle {
  height: 10vh;
  cursor: pointer;
  color: rgb(197, 9, 9);
}

.fa-play {
  height: 10vh;
  cursor: pointer;
  color: rgb(23, 201, 23);
}
